---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gabriela's Blog" description="in-person events and classes">
  <div class="flex justify-center pt-40">
    <h1 class="text-black z-1 text-3xl text-center">Esto sera el Blog</h1>
  </div>
</Layout>
