{
  /*
<header class="fixed top-0 z-10 flex items-center justify-center w-full mt-2">
  <nav class="flex justify-center px-3 items-center text-purple-600">
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
 */
}
